{% extends "base.html" %}
{%block head %}
<title>{{setting.title}} > Index</title>
{% endblock %}
{%block body %}
<div id="content" class="w680">
<!-- box start -->
	<div class="box">
	<div class="rnd_top">
		<div class="west">
			<div class="dot"></div>
		</div>
		<div class="east">
			<div class="dot"></div>
		</div>
	</div>

	<div class="inner">            	
		<h3>最新主题</h3>
		<table class ="list">
	<tr>
        <td class="title">标题</th>
        <td class="author">回复</th>

        <td class="date">最后回复</th>
    </tr>
    
    {% for dis in diss %}
    <tr>
        <td class="title"><a href="{{dis.url}}">{{dis.title}}</a>
		[<a href="/{{dis.tag_slug}}/">{{dis.tag_title}}</a>]
		{% if dis.count_comment %}(+{{dis.count_comment}}){% endif %}
		</td>
        <td class="author">
        {% if dis.last_comment_by %}
		<a href="/u/{{dis.last_comment_by}}/">{{dis.last_comment_by}}</a>
		{% else %}
		 <a href="/u/{{dis.user_name}}/">{{dis.user_name}}</a>
		{% endif %}
		</td>
        <td class="date">{{dis.last_comment|humdate}}</td>
    </tr>
    {% endfor %}

</table>

	</div>

	<div class="rnd_bot">
		<div class="west">
			<div class="dot"></div>
		</div>
		<div class="east">
			<div class="dot"></div>
		</div>
	</div>
</div>
 <!-- box end -->
	
</div>
 <!--sidebar include -->
 {% include "sidebar.html" %}
{% endblock %}