{% extends "base.html" %}
{%block head %}
<title>{{setting.title}} > {{dis.tag_title}} > {{dis.title}}</title>
{% endblock %}

{%block body %}
    	<div id="content" class="w680">
        	<div class="box radius">
            	<h2><a href="/{{dis.tag_slug}}/">{{dis.tag_title|escape}}</a> &gt; <a href="{{dis.url}}">{{dis.title|escape}}</a>
                {% if user %}
                {% if bookmark %}
                <a href="/b/?key={{dis.key.name}}&action=un" class="bookmarked" id="bookmark"><span>*</span></a>
                {% else %}
                 <a href="/b/?key={{dis.key.name}}&action=do" class="bookmark" id="bookmark"><span>*</span></a>
                {% endif %}
                {% endif %}
                </h2>
            </div>
            
            <!-- content -->
            <div class="box radius">
            <p class="line1"><a href="/u/{{dis.user_name}}/">{{dis.user_name}}</a> Post at <time datetime="{{dis.created}}">{{dis.created|humdate}}</time> {{disviews}} views{% ifequal user.name dis.user_name %}| <a href="/p/{{dis.tag_slug}}/{{dis.slug}}/">Edit</a>{% endifequal %}</p>
            {{dis.content_formated}}
            </div>
            
            <!--comment-->
            {% if comments %}
            <div class="box radius" id="comment_place">
            <h3>讨论</h3>
            {% for comment in comments %}
            <div class="comment line radius" id="r-{{comment.key.name}}">
            	<div>
                <strong><a href="/u/{{comment.user_name}}/">{{comment.user_name}}</a></strong><time class="gray">{{comment.created|humdate}}</time>
                </div>
                {{comment.content_formated}}
            </div>
			{% endfor %}
            </div>
			{% else %}
			 <div class="box radius" id="comment_place">
			 	<h3>还没有评论</h3>
			</div>
            {% endif %}
            
            {% if user %}
            <div class="box radius clear" >
            	<h3>添加评论吧</h3>
                <form method="post" action="/c/" id="comment_form" >
                <input type="hidden" name="key" value="{{dis.key.name}}" />
                <p>
                    <textarea class="input_box" cols="100" rows="6" name="content" ></textarea>
                </p>
				<p id="info"></p>
                <p>
                    <input type="submit" value="发表" class="button radius" id="submit"/>
                </p>
                </form>
            </div>
            {% endif %}
        </div>
     <!--sidebar include -->
     {% include "sidebar.html" %}
{% endblock %}