{% extends "base.html" %}
{%block head %}
<title>{{setting.title}} > Mention</title>
{% endblock %}

{%block body %}
    	<section id="content" class="w680">
			<section class="box radius">
                <h3>最近Follow</h3>
                <table class="list">
                	<tr>
                    	<td>帖子地址</td>
                        <td>作者</td>
                        <td>操作</td>
                    </tr>
                    {% for dis in diss %}
                    <tr>
                    	<td><a href="{{dis.url}}">{{dis.title}}</a></td>
                        <td><a href="/u/{{dis.user_name}}/">{{dis.user_name}}</a></td>
                        <td><a href="#">已阅</a></td>
                    </tr>
 					{% endfor %}
                </table>
    		</section>
        </section>
     <!--sidebar include -->
     {% include "sidebar.html" %}
{% endblock %}