{% extends "base.html" %}
{%block head %}
<title>{{setting.title}} > Mention</title>
{% endblock %}

{%block body %}
    	<section id="content" class="w680">
			<section class="box radius">
                <h3>最近提醒</h3>
                <table class="list">
                	<tr>
                    	<td>帖子地址</td>
                        <td>来源</td>
                        <td>日期</td>
                        <td>操作</td>
                    </tr>
                    {% for mention in mentions %}
                    <tr>
                    	<td><a href="{{mention.source_url}}">{{mention.source_url}}</a></td>
                        <td><a href="/u/{{mention.source_user}}/">{{mention.source_user}}</a></td>
                        <td>{{mention.created|humdate}}</td>
                        <td><a href="#{{mention.key}}" class="mentionhandler" >删除</a></td>
                    </tr>
 					{% endfor %}
                </table>
    		</section>
        </section>
     <!--sidebar include -->
     {% include "sidebar.html" %}
{% endblock %}