{% extends "base.html" %}
{%block head %}
<title>{{setting.title}} > 讨论</title>
{% endblock %}

{%block body %}
    <section id="p_form">
           <h3>修改 <a href="{{dis.url}}">{{dis.title}}</a></h3>
        	<form method="post" class="radius" action="/p{{dis.url}}">
            <input type="hidden" value="{{dis.key.name}}" name="key" />
			<p>
            <label for="title">标题</label>
            <input type="text" class="input_box radius" maxlength="100" value="{{dis.title|escape}}" name="title" id="title">
            </p>
            <p>
            <label for="content">内容</label>
            <textarea class="input_box radius" cols="100" rows="6" name="content" id="content" >{{dis.content|escape}}</textarea>
            </p>
            {% if error %}
            <p>{{error}}</p>
            {% else %}
            <p style="visibility:hidden">dd</p>
            {% endif %}
       
            <p>
            <input type="submit" value="提交" class="button radius" />
            </p>
        </form>
        </section>
{% endblock %}