<section id="side-bar" class="w250">
	{% if tag %}
    <a class="big_button radius" href="/p/{{tag.key.name}}/">发起讨论</a>
	{% endif %}
	{% if not user %}
	<section class="box radius">
        <h3>欢迎访问xFox!</h3>
        <p>xFox是一个面向技术人员的交流社区，欢迎加入讨论!</p>
        <p><a href="/a/signin/">登录</a>
        <a href="/a/signup/">注册</a></p>
    </section>
    {% endif %}

    <section class="box radius">
        <h3>讨论区</h3>
        <ul>
        	{% for tag in tags %}
            <a href="{{tag.url}}">{{tag.title}}</a>
            {% endfor %}
        </ul>
    </section>
    
    <section class="box radius">
        {% if tag %}
        <a href="/f/{{tag.key.name}}/" class="feed"><span>RSS订阅{{tag.title}}更新</span></a>
        {% else %}
        <a href="/f/" class="feed"><span>RSS订阅更新</span></a>
        {% endif %}
    </section>
</section>