{% extends "base.html" %}
{%block head %}
<title>{{setting.title}} > 登录</title>
{% endblock %}

{%block body %}
    	<div id="signup" class="w350">
        	<h3>用户登录</h3>
            <div class="box radius">
            <form method="post" action="/a/signin/">
            <input type="hidden" name="go" value="{% if go %} {{go}} {% endif %}" />
            <p>
                <label for="email">邮箱</label>
                <input type="text" id="email" name="email" value="{{email}}" class="input_box" />
            </p>
            <p>
                <label for="pwd">密码</label>
                <input type="password" id="pwd" name="pwd" value="{{pwd}}" class="input_box" />
                {% if error %}
                <p>{{error}}</p>
                {% endif %}
            </p>
            <p>
            	<input type="submit" value="登录" class="button radius" /> <a href="/a/openid/signin/">OpenID 登录</a>
            </p>
            <p></p>
            </form>
            </div>
        </div>
{% endblock %}