{% extends "base.html" %}
{%block head %}
<title>{{setting.title}} > 注册</title>
{% endblock %}

{%block body %}
    	<section id="signup" class="w350">
        	<h3>注册用户</h3>
            <section class="box radius">
            <form method="post" action="/a/signup/">
            <p>
                <label for="email">邮箱</label>
                <input type="text" id="email" name="email" value="{{email}}" class="input_box" />
                {% if email_error %}
                <p>{{email_error}}</p>
                {% endif %}
            </p>
            <p>
                <label for="name">用户名</label>
                <input type="text" id="name" name="name" value="{{name}}" class="input_box" />
            	{% if name_error %}
                <p>{{name_error}}</p>
                {% endif %}
            </p>
            <p>
                <label for="pwd">密码</label>
                <input type="password" id="pwd" name="pwd" value="{{pwd}}" class="input_box" />
                {% if pwd_error %}
                <p>{{pwd_error}}</p>
                {% endif %}
            </p>
            <p>
            	<input type="submit" value="注册" class="button radius" /> <a href="/a/openid/signup/">OpenID 注册</a>
            </p>
            <p></p>
            </form>
            </section>
        </section>
{% endblock %}