{% extends "base.html" %}
{%block head %}
<title>{{setting.title}} > {{tag.title}}</title>
{% endblock %}

{%block body %}
    	<div id="content" class="w680">
        	<div class="box radius">
            	<h2><a href="{{tag.url}}">{{tag.title|escape}}</a></h2>
            </div>
            
            <!-- content -->
            <div class="box radius">
			<table class ="list">
            	<tr>
                    <td class="title">标题</th>
                    <td class="author">作者</th>
                    <td class="date">最后回复</th>
                </tr>
                {% for dis in diss %}
                <tr>
                    <td class="title"><a href="{{dis.url}}">{{dis.title}}</a>{% if dis.count_comment %}(+{{dis.count_comment}}){% endif %}</td>
                    <td class="author"><a href="/u/{{dis.user_name}}/">{{dis.user_name}}</a></td>
                    <td class="date">{{dis.last_comment|humdate}}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            
            <div class="box radius">
            {% if prev %}<a class="prev" href="{{tag.url}}{{prev|humpage}}">前一页</a> {% endif %}
            {% if next %}<a class="next" href="{{tag.url}}{{next|humpage}}">后一页</a> {% endif %}
       		</div>
        </div>
     <!--sidebar include -->
     {% include "sidebar.html" %}
{% endblock %}